<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XEJukebox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9798E5371C1C6B9B0024B791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9798E5501C1C6B9B0024B791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9798E55B1C1C6B9B0024B791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
